

Options +FollowSymLinks
RewriteEngine on
RewriteBase /github/Athlon/
# RewriteRule ^/$ index.php [L]
#RewriteRule ^quienessomos/$ 
#RewriteRule ^quienessomos/$ vistas/QuienesSomos.php [L]
RewriteRule ^(.*)/$ vistas/$1.php [L]
#RewriteRule ^(.*)/$ vistas/$1.php [L]

# RewriteRule ^cisnes/$ animales/aves/anseriformes/anatidae/cisnes.php [L]

# Options All -Indexes